@font-face {
  font-family: "iconfont"; /* Project id 3884346 */
  src: url('//at.alicdn.com/t/c/font_3884346_nbaoslp9ef.woff2?t=1677405402648') format('woff2'),
       url('//at.alicdn.com/t/c/font_3884346_nbaoslp9ef.woff?t=1677405402648') format('woff'),
       url('//at.alicdn.com/t/c/font_3884346_nbaoslp9ef.ttf?t=1677405402648') format('truetype'),
       url('//at.alicdn.com/t/c/font_3884346_nbaoslp9ef.svg?t=1677405402648#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kehufuwukefu:before {
  content: "\e698";
}

.icon-dizhiguanli:before {
  content: "\e63f";
}

.icon-qianbao:before {
  content: "\e613";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-gengxintouxiang:before {
  content: "\e73b";
}

.icon-weixuanzhongyuanquan:before {
  content: "\e601";
}

.icon-quanxuan:before {
  content: "\e67f";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-jianhao:before {
  content: "\eaf5";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-wxbdingwei:before {
  content: "\e624";
}

.icon-xiaoxi:before {
  content: "\e62c";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-faxian:before {
  content: "\e746";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-gouwuche:before {
  content: "\e603";
}
